/.vs

# Composer dependencies
/vendor/

# PHPUnit
/coverage/
.phpunit.result.cache

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Synology metadata
@eaDir/

# Logs
*.log

# Temporary files
*.tmp
*.temp